.vs/
La_Simulation/bin/Debug/La_Simulation.exe
La_Simulation/bin/Debug/La_Simulation.pdb
La_Simulation/obj/Debug/La_Simulation.exe
La_Simulation/obj/Debug/La_Simulation.pdb
La_Simulation/bin/Debug/*.manifest